# system-specific temp, backup, thumbnail etc. files
.~lock*
*.backup
~$*
.DS_Store
Thumbs.db

# R(Studio)-specific (temp) files
.Rapp.history
.RData
.Rhistory
.Rproj.user
.Ruserdata

# knitr cache
/.cache
